# Dependencies
node_modules/
package-lock.json

# Environment variables
.env
.env.local
.env.development
.env.production
!.env.example

# Build and distribution outputs
dist/
build/
out/
*.tgz

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System & IDE files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Temporary files & uploads
temp/
uploads/
*.tmp
